 <main class="my-5">

    <div class="container">

      <div class="row text-center text-success">
        <h2 style="font-size: 40px;">Bem vindo(a) de Volta<strong> {{user.name}}</strong>!</h2>
      </div>
      <div class="row my-5">

        <div class="col">

          <div class="bg-dark text-white my-3 text-center card">

            <div class="card-body">

              <h1 class="mt-3">Você tem {{numLembretes}} Lembretes</h1>
              <ul>
                {{#each notificacoes}}
                <li><a href="{{this.link}}">{{this.conteudo}}</a></li>
                {{/each}}
              </ul>

            </div>

          </div>

        </div>

        <div class="col">
          {{#if session.userId}}
          <a href="/thoughts/profile/{{user.id}}/{{user.id}}"><img src="{{user.img}}" style="border-radius: 50%; width: 120px; height: auto; margin-left: 20em;"></a>
                {{/if}}
        </div>

      </div>
      <div class="row my-5">

        <div class="col">

          <h1 class="mt-1 text-primary" style="margin-left: 160px; font-size: 30px;">Recomendações</h1>

          <div class="bg-secondary text-white my-3 text-center card" style="height: 40em;">
            <ul class="list-group nav-pills nav-stacked" style="height: 100%; overflow-y: scroll;">
              {{#each connections}}
                <li class="list-group-item active nav-item" aria-current="true"><a href="/thoughts/profile/{{this.id}}/{{this.requester}}"><img
                      src="{{this.img}}" alt="Foto de Perfil" class="img-fluid mt-1"
                      style="width: auto; margin-top: 200px; height: 80px; border-radius: 50%; margin-right: 200px;"></a>
                  <a class="text-white" href="/thoughts/profile/{{this.id}}/{{this.requester}}"><b
                      style="font-size: 20px; margin-right: 45px;">{{this.name}}</b></a>
                  <div class="progress" style="margin-left: 40%;" role="progressbar" aria-label="Basic example"
                    aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar bg-info" style="width: {{this.porcentagem}}%"></div>
                  </div>
                  <p class="text-warning mt-1" style="margin-left: 200px; font-size: 20px;"><b>{{this.media}}/5.0</b></p>
                </li>
              {{/each}}
            </ul>
          </div>

        </div>

        <div class="col">

          <h1 class="mt-1 text-primary" style="margin-left: 160px; font-size: 30px;">Próximos Eventos</h1>

          <div class="bg-secondary text-white my-3 text-center card">
            <ul class="list-group nav-pills nav-stacked" style="height: 40em; overflow-y: scroll;">
              {{#if isEmpresa}}
              {{#each propostas}}
                
                  <li class="list-group-item nav-item" style="font-size: 20px;"><a class="nav-link"
                      href="">data: {{this.dataFormatada}}<br>hora de início: {{this.horaInicial}}<br>hora fim: {{this.horaFim}}<br>local: {{this.local}}<br>valor: R${{this.valorFinal}}<br>nome do(a) Artista: {{this.empresa.name}}<br>email: {{this.empresa.email}}</a>
                  </li>
                {{/each}}
                {{else}}
                  {{#each propostas}}
                  <li class="list-group-item nav-item" style="font-size: 20px;"><a class="nav-link"
                      href="">data: {{this.dataFormatada}}<br>hora de início: {{this.horaInicial}}<br>hora fim: {{this.horaFim}}<br>local: {{this.local}}<br>valor: R${{this.valorFinal}}<br>nome/Razão Social: {{this.empresa.name}}<br>email: {{this.empresa.email}}</a>
                  </li>
                  {{/each}}
                {{/if}}
            </ul>
          </div>

        </div>

      </div>
</div>
  </main>