{{#if otherUser}}
<div class="chat-user">
    <div class="profile-avatar" style="width:40px;height:40px;background:#eee;border-radius:50%;display:flex;align-items:center;justify-content:center;font-size:1.2em;">
        {{#if otherUser.name}}{{otherUser.name.[0]}}{{else}}<span>?</span>{{/if}}
    </div>
    <div class="chat-user-info">
        <h3>{{#if otherUser.name}}{{otherUser.name}}{{else}}Usuário desconhecido{{/if}}</h3>
    </div>
</div>
<button class="report-button">Reportar conversa</button>
{{else}}
<div class="chat-user">
    <div class="profile-avatar" style="width:40px;height:40px;background:#eee;border-radius:50%;display:flex;align-items:center;justify-content:center;font-size:1.2em;">?</div>
    <div class="chat-user-info">
        <h3>Selecione uma conversa</h3>
    </div>
</div>
<button class="report-button" disabled>Reportar conversa</button>
{{/if}} 