<div class="card">
    <!--<span class="status-indicator status-available" title="Disponível"></span>-->
    <p class="card-location">Pedido de Serviço</p>
    <div class="card-image-container">
        <div class="card-image">
            <img src="{{#if Establishment.User.imageUrl}}{{Establishment.User.imageUrl}}{{else}}/img/default.jpg{{/if}}" alt="{{Establishment.User.name}}">
        </div>
    </div>
    <a href="/profile/{{Establishment.User.id}}"><h3 class="card-title">{{Establishment.User.name}}</h3></a>
    <p class="card-location">{{Establishment.User.city}}</p>
    <div class="card-rating">
        <span class="star">★</span>
        <span style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">{{#if (eq
            Establishment.User.TotalRatings 0) }}
            0.0 {{else}} {{Establishment.User.AverageRating}} {{/if}}
            {{#if (eq Establishment.User.TotalRatings 0) }} ( 0 ) {{else}} ( {{Establishment.User.TotalRatings}} )
            {{/if}}</span>
    </div>
    <p class="service-date">
        <svg class="clock-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"
            fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <circle cx="12" cy="12" r="10"></circle>
            <polyline points="12 6 12 12 16 14"></polyline>
        </svg>
        {{formatDatePtBr date}} | {{formatTime startTime}} - {{formatTime endTime}}
    </p>
    <p class="service-date price">
        R$ {{formatPrice price}}
    </p>
    <p class="card-description">{{description}}</p>
    <div class="card-tags">
        {{#each Tags}}
        <span class="tag">{{name}}</span>
        {{/each}}
    </div>
    <div class="service-actions">
    <a href="/profile/{{Establishment.User.id}}">
        <button class="profile-button">Ver perfil</button>
    </a>
    {{#if isInterested}}
        <button class="service-button" onclick="removeInterest('{{id}}')">Desinscrever-se</button>
    {{else}}
        <button class="service-button" onclick="registerInterest('{{id}}')">Inscrever-se</button>
    {{/if}}
</div>
</div>