{{#each messages}}
<div class="msg {{#if this.isCurrentUser}}sent{{else}}received{{/if}}" data-message-id="{{this.id}}">
    <div class="message-bubble">{{this.message}}</div>
    <div class="message-time">{{this.date}}</div>
</div>
{{else}}
    <p class="no-messages">Nenhuma mensagem ainda.
Envie a primeira!</p>
{{/each}}