{{#if otherUser}}
<div class="profile-header">
    <div class="profile-avatar" style="width:80px;height:80px;background:#eee;border-radius:50%;display:flex;align-items:center;justify-content:center;font-size:2em;">
        {{#if otherUser.name}}{{otherUser.name.[0]}}{{else}}<span>?</span>{{/if}}
    </div>
    <div class="profile-name">{{#if otherUser.name}}{{otherUser.name}}{{else}}Usuário desconhecido{{/if}}</div>
    <div class="profile-profession">Usuário</div>
    <div class="profile-location">Localização não informada</div>
</div>
<div class="profile-divider"></div>
<div class="profile-bio">
    <div class="bio-title">Biografia</div>
    <div class="bio-text">{{#if otherUser.description}}{{otherUser.description}}{{else}}Sem descrição.{{/if}}</div>
</div>
<div class="profile-tags">
    <div class="profile-tag">Usuário</div>
</div>
{{else}}
<p>Selecione uma conversa para ver o perfil.</p>
{{/if}} 