<a href="/thoughts/profile/{{id}}/{{requesterId}}">Voltar</a>
<ul>
    {{#each avaliacoes}}
    <li>
        <p>{{this.conteudo}} - {{this.data}}</p>
        <p>Nota: {{this.nota}}</p>
        <a href="/thoughts/profile/{{this.perfil.id}}/{{this.requesterId}}">
            <p>{{this.perfil.name}}</p>
        </a>
    <img src="{{this.perfil.img}}" alt="imagem do usuário adicionado como favorito" style="width: 300px; border-radius: 50%">
    </li>
    {{/each}}
</ul>