<main class="my-5"></main>

        <div class="container">

          <div class="row my-5">

              <a href="/thoughts/profile/{{requester}}/{{requester}}">Voltar</a>
          </div>

            <div class="row my-5">

                <div class="col">
                  
                  <h1 class="mt-1 text-success" style="margin-left: 260px; font-size: 30px;">Enviadas</h1>
                 
                  <div class="bg-secondary text-white my-3 text-center card">
                    
                    <ul class="list-group nav-pills nav-stacked" style="height: 600px; overflow-y: scroll;">
                      {{#each propostasEnviadas}}
                      <li class="list-group-item nav-item border-dark bg-secondary" aria-current="true">
                        <div class="card mb-3 border-dark" style="max-width: 540px;">
                            <div class="row g-0">
                              <div class="col-md-4">
                                <img src="{{this.receiver.img}}" class="img-fluid rounded-start" alt="imagem do usuário">
                              </div>
                              <div class="col-md-8">
                                <div class="card-body">
                                  <h5 class="card-title text-info" style="text-align: justify;">Detalhes da Proposta</h5>
                                  <p class="card-text text-dark" style="text-align: justify;">data: {{this.dataFormatada}}</p>
                                  <p class="card-text text-dark" style="text-align: justify;">Proposta enviada para: {{this.receiver.name}}</p>
                                  <p class="card-text text-dark" style="text-align: justify;">Hora de início: {{this.horaInicial}}</p>
                                  <p class="card-text text-dark" style="text-align: justify;">Hora de Fim: {{this.horaFim}}</p>
                                  <p class="card-text text-dark" style="text-align: justify;">Local: {{this.local}}</p>
                                  <p class="card-text text-dark" style="text-align: justify;">Valor/Hora: R${{this.valorHora}}</p>
                                  <p class="card-text text-dark" style="text-align: justify;">Mensagem: {{this.mensagem}}</p>
                                  <p class="card-text text-dark" style="text-align: justify;">Status: <mark style="font-weight: bold; font-size: 20px; color: gray">{{this.status}}</mark></p>
                                </div>
                              </div>
                            </div>
                          </div>
                      </li>
                      {{/each}}
                      </ul>
                  </div>
                <div class="col">

                  <h1 class="mt-1 text-success" style="margin-left: 260px; font-size: 30px;">Recebidas</h1>
                 
                  <div class="bg-secondary text-white my-3 text-center card">
                    
                    <ul class="list-group nav-pills nav-stacked" style="height: 600px; overflow-y: scroll;">
                      {{#each propostasRecebidas}}
                      <li class="list-group-item nav-item border-dark bg-secondary" aria-current="true">
                        <div class="card mb-3 border-dark" style="max-width: 540px;">
                            <div class="row g-0">
                              <div class="col-md-4">
                                <img src="{{this.sender.img}}" class="img-fluid rounded-start" alt="imagem do usuário">
                                
                                {{#if this.aval}}
                                <div class="dropdown">
                                    <a class="btn btn-success dropdown-toggle my-3" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                      Avaliar Proposta
                                    </a>
                                  
                                    <div class="dropdown-content">
                                    <a class="dropdown-item" href="/thoughts/aceitarProposta/{{this.id}}/{{this.requester}}">Aceitar</a>
                                    <a class="dropdown-item" href="/thoughts/negarProposta/{{this.id}}/{{this.requester}}">Negar</a>
                                    <a class="dropdown-item" href="">Enviar Mensagem</a>
                                    </div>
                                  </div>
                                  {{/if}}
                            </div>
                            
                              <div class="col-md-8">
                                <div class="card-body">
                                  <h5 class="card-title text-info" style="text-align: justify;">Detalhes da Proposta</h5>
                                  <p class="card-text text-dark" style="text-align: justify;">data: {{this.dataFormatada}}</p>
                                  <p class="card-text text-dark" style="text-align: justify;">Proposta enviada por: {{this.sender.name}}</p>
                                  <p class="card-text text-dark" style="text-align: justify;">Hora de início: {{this.horaInicial}}</p>
                                  <p class="card-text text-dark" style="text-align: justify;">Hora de fim: {{this.horaFim}}</p>
                                  <p class="card-text text-dark" style="text-align: justify;">Local: {{this.local}}</p>
                                  <p class="card-text text-dark" style="text-align: justify;">Valor/Hora: R${{this.valorHora}}</p>
                                  <p class="card-text text-dark" style="text-align: justify;">Mensagem: {{this.mensagem}}</p>
                                  <p class="card-text text-dark" style="text-align: justify;">Status: <mark style="font-weight: bold; font-size: 20px; color: gray">{{this.status}}</mark></p>
                                  
                                </div>
                              </div>
                            </div>
                          </div>

                      </li>
                      {{/each}}
                    </ul>
                </div>
            </div>
            </div>
        </div>
        </div>
    </main>
    <style>
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  </style>
  