<a href="/thoughts/profile">Voltar</a>

<form action="/thoughts/cadastrarTags/{{session.userId}}" method="post">

    <details>
        <summary>Instrumentos de corda</summary>
        <ul>
            {{#each instrumentosCorda}}
            <li>
                <input type="checkbox" id="{{this.descricao}}" name="musicalTalents[]" value="{{this.descricao}}"> 
                {{this.descricao}}
            </li>
            {{/each}}
        </ul>
    </details>

    <details>
        <summary>Instrumentos de sopro</summary>
        <ul>
            {{#each instrumentosSopro}}
            <li>
                <input type="checkbox" id="{{this.descricao}}" name="musicalTalents[]" value="{{this.descricao}}"> 
                {{this.descricao}}
            </li>
            {{/each}}
        </ul>
    </details>

    <details>
        <summary>Instrumentos de percussão</summary>
        <ul>
            {{#each instrumentosPercussao}}
            <li>
                <input type="checkbox" id="{{this.descricao}}" name="musicalTalents[]" value="{{this.descricao}}"> 
                {{this.descricao}}
            </li>
            {{/each}}
        </ul>
    </details>

    <details>
        <summary>Gêneros Musicais</summary>
        <ul>
            {{#each generos}}
            <li>
                <input type="checkbox" id="{{this.descricao}}" name="musicalTalents[]" value="{{this.descricao}}"> 
                {{this.descricao}}
            </li>
            {{/each}}
        </ul>
    </details>

    <details>
        <summary>Habilidades</summary>
        <ul>
            {{#each profissoes}}
            <li>
                <input type="checkbox" id="{{this.descricao}}" name="musicalTalents[]" value="{{this.descricao}}"> 
                {{this.descricao}}
            </li>
            {{/each}}
        </ul>
    </details>

    <input type="submit" value="Salvar">

</form>
